{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Clusters of Earthquakes</h1>
    {% if clusters %}
    {% for cluster in clusters %}
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">Cluster</h5>
            <ul>
                {% for quake in cluster %}
                <li>
                    <strong>Datetime:</strong> {{ quake.Datetime }} <br>
                    <strong>Latitude:</strong> {{ quake.Latitude }} <br>
                    <strong>Longitude:</strong> {{ quake.Longitude }} <br>
                    <strong>Magnitude:</strong> {{ quake.Magnitude }} <br>
                    <strong>Place:</strong> {{ quake.Place }} <br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No clusters found.</p>
    {% endif %}
</div>
{% endblock %}
